<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<!-- Add fixed header -->
<% include partials/_header %>

<body style="font-size:20px; padding:50px;">
    <table style="width:65%; margin:0 auto; text-align:left;" class="table table-hover">
         <thead><tr><th>Redirect Address</th> <th>Shortened URL</th> <th style="text-align:right;">Action</th></tr></thead>
         <% for (var url in urls)  { %>
            <tr><td><a href='<%= urls[url] %>'><%= urls[url] %></a></td>
            <td><a href='/urls/<%= url %>'> http://localhost:8080/urls/<%= url %></a></td>
            <td><form method="POST" action="/urls/<%=url%>/delete"><button style="float:right;" type="submit">Delete</input></form></td></tr>
        <% } %>
    </table>
</body>

</html>