<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="./partials/_header.ejs"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp - URL View</title>
</head>

<!-- Add fixed header -->
<% include partials/_header %>

<body style="font-size:20px; padding:50px;">
<% if (!longURL) { %>
        <p style="color: red"><%=shortURL %> - This short URL does not exist!</p></li>
    <% } else { %>
    <table style="width:85%; margin:0 auto; text-align:left;" class="table table-hover">
         <thead><tr><th>Redirect URL</th> <th>Shortened URL</th> <th>Update Redirect URL</th><th style="text-align:right;">Action</th></tr></thead>
         <tr><td><a href='<%longURL%>' </a><%= longURL %></a></td>
         <td><a href='/u/<%= shortURL %>'> http://localhost:8080/u/<%= shortURL %></a></td>
         <td><form method="POST" action="/urls/<%=shortURL%>"><input type="text" name="updateURL" value="sdfsdf" /></td>
         <td><button style="float:right;" type="submit">Save</button></form></td></tr>
    <% } %>
    </table>
</body>

</html>